* {
  box-sizing: border-box;
}
body {
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto 1fr;
  font-size: 1.5rem;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
  transition: 0.2s ease-in;
}
div {
  display: flex;
}

#red {
  accent-color: red;
}
#green {
  accent-color: green;
}
#blue {
  accent-color: blue;
}
main {
  background-color: rgb(255, 200, 150);
}
