* {
  box-sizing: border-box;
}
body {
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto 1fr;
  font-size: 1.5rem;
  height: 100vh;
  background-color: rgb(255, 100, 200);
  transition: 0.01s ease-in;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
  transition: 0.2s ease-in;
  background-color: rgba(255, 255, 255, 0.75);
}
div {
  display: flex;
}

#red {
  accent-color: red;
}
#green {
  accent-color: green;
}
#blue {
  accent-color: blue;
}
p {
  width: 150px;
}
